@charset "UTF-8";

@media screen and (min-width: 768px){
    i#burger{
        display: none;
    }

    .menu{
        display: block;
    }

    .menu > ul {
        display: flex;
    }

    .menu > ul > li + li{
        margin-left: 10px;
    }

    .menu > ul > li > a{
        background-color: gray;
    }

    .menu > ul > li > a:hover{
        background-color: black;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    .principal{
        width: 768px;
    }
}